.next
.claude
/node_modules
/.pnp
.pnp.*
package-lock.json
yarn.lock
dist
.vscode
.DS_Store
# Environment variables
.env
.env.local
.env.production
.env.staging
!.env.example
!.env.local.example
!.env.production.example
public/web-sdk
CLAUDE.md
instructions.md
.prettierrc
console.log
code-review.md